<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-dark table-hover table-responsive table-striped" style="overflow-x: scroll;" id="products-table">
        <thead>
          <tr>
            <th class="text-center"><i class="fa fa-ellipsis-v"></i></th>
            <th class="text-center"><%= 'Unidades vendidas' %></th>
            <th class="text-center"><%= 'Produto' %></th>
            <th class="text-center"><%= 'ASIN' %></th>
            <th class="text-center"><%= 'Armazém' %></th>
            <th class="text-center"><%= 'Mês/Ano de refernência' %></th>
          </tr>
        </thead>
        <tbody>
          <% @last_seven_days.each do |product_sale| %>
            <tr>
              <td class="text-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <%= link_to edit_product_path(product_sale.product), class: 'btn btn-light btn-sm text-dark' do %> <i class="fas fa-edit"></i><% end %>
                  <% if product_sale.product.supplier_url.present? %>
                    <%= link_to product_sale.product.supplier_url, class: 'btn btn-light btn-sm text-dark', target:'_blank' do %> <i class="fa-brands fa-internet-explorer"></i><% end %>
                  <% end %>
                </div>
              </td>
              <td class="text-center"><span class="badge bg-dark text-warning" style="font-size: 20px !important;"><%= product_sale.unit_count %></span></td>
              <td class="text-center" width="400"><%= ActionController::Base.helpers.truncate(product_sale.product.item_name, length: 120, omission: '...') %></td>
              <td class="text-center"><%= product_sale.product.asin1 %></td>
              <td class="text-center"><%= product_sale.product.fulfillment_channel == 'FBA' ? %(<span class="badge bg-primary"><i class="fa-brands fa-amazon"></i> FBA</span>).html_safe : %(<span class="badge bg-secondary"><i class="fas fa-globe-americas"></i> FBM</span>).html_safe %></td>
              <td class="text-center"><%= product_sale.month_refference %> / <%= product_sale.year_refference %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="14">
              
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

